body {
  display: flex;
  justify-content: center;
  margin: 5px;
  background-image: linear-gradient(rgb(251, 255, 228), rgb(61, 141, 122));
}
h1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto Serif", serif;
  font-size: xx-large;
  font-weight: 700;
  background-color: rgb(61, 141, 122);
  border-radius: 10px;
  color: white;
  text-shadow: 5px 5px black;
}
.image {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  background-color: rgb(163, 209, 198);
  border: 2px solid black;
  border-radius: 7px;
  height: 40px;
}
.alt-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  background-color: rgb(163, 209, 198);
  border: 2px solid black;
  border-radius: 7px;
  height: 40px;
  color: gray;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: x-large;
  background-color: rgb(251, 255, 228);
  border-radius: 10px;
}
